@import 'variables';
@import 'table';

.main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 160px;
    position: relative;

    .user-info {
        border-radius: 4px;
        border: 1px solid $card-border;
        background-color: #fff;
        box-shadow: $card-shadow;
        padding: 30px 30px 46px;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        min-height: 400px;

        .info-card {
            display: flex;
            flex-direction: column;
            gap: 30px;
            // border: 1px solid black;
            padding: 30px 0;

            &:nth-child(n+2) {
                border-top: 1px solid $paginator-tab;
            }

            .info-title {
                @include standard-font(16px, 500, $primary-color);
            }

            .details-section {
                display: flex;
                flex-direction: column;
                gap: 20px;
                // border: 1px solid blue;


                .detail {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .detail-title {
                        @include standard-font(12px, 400, $primary-color);
                        text-transform: uppercase;
                    }

                    .detail-body {
                        @include standard-font(16px, 500, $primary-color);
                    }
                }
            }
        }
    }

    .user-profile {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        margin-top: 40px;
        background-color: #fff;
        padding: 20px 10px 0;

        .profile-tabs-holder {
            @include scroller(1px, none, #fff);
            display: flex;
            overflow: auto;
            width: 100%;
            // border: 1px solid blue;
            margin-top: 51px;

            .inner-holder {
                display: flex;
                gap: 20px;
            }

            .profile-tabs {
                @include profile-tabs
            }

            .profile-tabs.active {
                color: $secondary-color;
                border-color: $secondary-color;
            }
        }




        .profile-details {
            display: flex;
            flex-direction: column;

            .avatar {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                position: relative;
                background-position: center;
                background-size: cover;
                // background: black;
                position: relative;
            }

            .id {
                display: flex;

            }

            .name-section {
                @include profile-details(none, 1px solid $border, 30px 0);
                margin-top: 20px;

                .user-name {
                    @include standard-font(22px, 500, $primary-color);
                }

                .user-id {
                    @include standard-font(14px, 400, $primary-color);
                }
            }

            .tier-section {
                @include profile-details(none, 1px solid $border, 30px 0);

                .title {
                    @include standard-font(14px, 500, $primary-color);
                }

                .tier {
                    display: flex;
                    gap: 4px;
                }
            }

            .user-balance {
                @include profile-details(none, none, 30px 0);

                .balance {
                    @include standard-font(22px, 500, $primary-color)
                }

                .bank-info {
                    @include standard-font(12px, 400, $primary-color)
                }
            }
        }

    }



    .page-title {
        @include standard-font(24px, 500, $primary-color);
    }

    .user-page-title-bar {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .user-action {
            display: flex;
            justify-content: space-between;
        }
    }


    .blacklist-user {
        @include page-button ($blacklisted-font)
    }

    .activate-user {
        @include page-button ($secondary-color)
    }

    .back-button {
        @include standard-font(16px, 400, $primary-color);
        display: flex;
        gap: 5px;
        align-items: center;

        h2 {
            width: 109px;
        }

        .icon {
            @include custom-icon(30px, 30px);

        }
    }

    .card-holder {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 40px;

        .card {
            display: flex;
            background-color: #fff;
            // background-color: green;
            flex-direction: column;
            box-shadow: $card-shadow;
            width: 100%;
            height: 160px;
            border-radius: 4px;
            border: $card-border;
        }
    }

    .table-container {
        @extend %scrollbar;
        position: relative;
        width: 100%;
        height: 680px;
        // padding-right: 30px;
        // height: 240px;
        overflow: auto;
        // border: 2px solid orange;
        margin-top: 40px;
        box-shadow: $card-shadow;
        background-color: #fff;
        border-radius: 4px;

        .filter-modal {
            background-color: #fff;
            width: 270px;
            min-height: 600px;
            border-radius: 4px;
            border: 1px solid $border;
            box-shadow: $card-shadow;
            position: absolute;
            top: 60px;
            flex-direction: column;
            padding: 30px 20px 20px;
            gap: 20px;

            .filter-button {
                @include filter-buttons($secondary-color, $secondary-color);
                @include standard-font(14px, 600, #fff);
            }
            .reset-button {
                @include filter-buttons(#fff, $primary-color);
                @include standard-font(14px, 600, $primary-color);
            }

            .filter {
                display: flex;
                flex-direction: column;
                gap: 6px;
                // border: 1px solid green;

                .name {
                    @include standard-font(14px, 500, $primary-color);
                    text-transform: capitalize;
                }
                
                .input-holder {
                    width: 100%;
                    height: 40px;
                    border-radius: 8px;
                    // background: #fff;                
                    padding: 0px 13px 0px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border:1px solid $border;

                    input {
                        @include standard-font(14px, 400, $primary-font-color);
                        @include filter-input;
                        // border: 1px solid black; 
                        outline: none; 
                        width: 100%;  
                        
                        &::placeholder {
                            text-transform: capitalize;
                        }
                    }

                }

                select {
                    @include scroller(2px, none, $primary-color);
                    @include standard-font(14px, 400, $primary-font-color);
                    option {
                        @include standard-font(14px, 400, $primary-font-color);
                        
                        &:hover {
                            @include standard-font(14px, 400, #fff);
                        }
                    }
                }
            }
        }

        .username {
            left: 160px;
        }

        .email {
            left: 250px;
        }

        .phone {
            left: 550px;
        }

        .joined {
            left: 700px;
        }

        .status {
            left: 805px;
        }


        .table {
            @extend %users-table-header;
            width: 100%;
            height: fit-content;

            .row {
                @include standard-font(14px, 400, $primary-font-color);
                height: 60px;
                border-bottom: 1px solid $paginator-tab;
                position: relative;

                .details {
                    width: 180px;
                    height: 130px;
                    position: absolute;
                    top: 9px;
                    border-radius: 4px;
                    background-color: #fff;
                    right: -26px;
                    flex-direction: column;
                    box-shadow: $top-bar-shadow;
                    justify-content: space-between;
                    z-index: 5;
                    padding: 20px 0 22px 21px;

                    button {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        // height: 32%;
                        gap: 8px;
                        width: 100%;

                        h2 {
                            @include standard-font(14px, 500, $primary-font-color);
                        }

                        .icon {
                            @include primary-icon;
                            background: none;
                        }
                    }
                }

                .active {
                    @include standard-font(14px, 400, $active-font);
                    @include user-status($active)
                }

                .blacklisted {
                    @include standard-font(14px, 400, $blacklisted-font);
                    @include user-status($blacklisted)
                }

                .pending {
                    @include standard-font(14px, 400, $pending-font);
                    @include user-status($pending)
                }

                .inactive {
                    @include standard-font(14px, 400, $primary-font-color);
                    @include user-status($inactive)
                }

                button {
                    height: 17px;
                    width: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: auto;

                    div {
                        background-color: $primary-font-color;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                    }
                }
            }
        }

    }

    .paginator {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        // border: 2px solid blue;




        .display-count {
            display: flex;
            gap: 10px;
            align-items: center;
            width: 100%;
            justify-content: center;

            .showing {
                @include standard-font(14px, 400, $primary-font-color);
            }

            .count {
                display: flex;
                justify-content: space-around;
                background-color: $paginator-tab;
                border-radius: 4px;
                width: 80px;
                height: 30px;

                .paginate-selector {
                    @include standard-font(14px, 400, $primary-font-color);
                    width: 100%;
                    height: 100%;
                    display: flex;

                    .select {
                        display: flex;
                        width: 100%;
                        background-color: inherit;
                        padding: 0 12px;
                        font-weight: 500;
                        outline-color: $primary-color;
                    }

                }
            }

            .total {
                @include standard-font(14px, 400, $primary-font-color);
            }

        }
    }


}

.page-select {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    position: relative;
    background-color: $paginator-tab;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        position: relative;
        width: 14px;
        height: 14px;
    }
}

@media only screen and (min-width: 837px) {
    .main {
        padding: 0 20px;

        .card-holder {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            gap: 10px;

            .card {
                width: 47%;
            }
        }
    }
}

@media only screen and (min-width: 870px) {
    .main {
        .user-page-title-bar {
            display: flex;
            flex-direction: row;
            gap: 0px;
            justify-content: space-between;

            .user-action {
                display: flex;
                justify-content: flex-start;
                gap: 20px;
            }
        }

        .user-profile {
            .profile-details {
                display: flex;
                flex-direction: row;

                .avatar {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    position: relative;
                    background-position: center;
                    background-size: cover;
                    background: black;
                }

                .id {
                    display: flex;

                }

                .name-section {
                    @include profile-details(1px solid $border, none, 0 30px);
                    margin-top: 0;

                    .user-name {
                        @include standard-font(22px, 500, $primary-color);
                    }

                    .user-id {
                        @include standard-font(14px, 400, $primary-color);
                    }
                }

                .tier-section {
                    @include profile-details(1px solid $border, none, 0 30px);

                    .title {
                        @include standard-font(14px, 500, $primary-color);
                    }

                    .tier {
                        display: flex;
                        gap: 4px;
                    }
                }

                .user-balance {
                    @include profile-details(none, none, 0 30px);

                    .balance {
                        @include standard-font(22px, 500, $primary-color)
                    }

                    .bank-info {
                        @include standard-font(12px, 400, $primary-color)
                    }
                }
            }
        }

    }
}


@media only screen and (min-width: 900px) {
    .main {
        .paginator {
            // border: 1px solid green;
            flex-direction: row;
            align-items: center;
            gap: 0;
            justify-content: space-between;


            .display-count {
                width: fit-content;
                // border: 1px solid blue;
                justify-content: flex-start;
            }
        }

        .profile-tabs-holder {

            .inner-holder {
                width: 100%;
                justify-content: space-between;
                gap: 0;
            }
        }

        .user-info {

            .info-card {

                .details-section {
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: flex-start;
                    // border: 1px solid green;

                    .detail {
                        // border: 1px solid blue;
                        min-width: 22%;
                    }
                }
            }
        }

    }
}



@media only screen and (min-width: 1000px) {
    .main {
        padding: 0 20px;

        .card-holder {
            flex-wrap: nowrap;
            gap: 0;

            .card {
                width: 24%;
            }
        }
    }
}